/* Booking edit form */
.rooms-booking-form .form-actions,
.rooms-booking-form .rooms-booking-status-wrapper {
  float: none;
  clear: both;
}
.rooms-booking-form .rooms-booking-status-wrapper,
.rooms-booking-form .rooms-booking-availability-wrapper,
.rooms-booking-form .rooms-booking-unit-type-wrapper,
.rooms-booking-form .rooms-booking-order-wrapper {
  margin-bottom: 15px;
}
.rooms-booking-form .rooms-booking-customer-wrapper,
.rooms-booking-form .rooms-booking-data-wrapper {
  float: left;
  max-width: 400px;
  margin-right: 20px;
}
.rooms-booking-form .rooms-booking-customer-wrapper .form-item-client .form-text {
  width: 62%;
  min-width: 250px;
}
.rooms-booking-form .rooms-booking-customer-wrapper .form-item-client .field-suffix {
  width: 30%;
  display: block;
}
.rooms-booking-form .rooms-booking-date-range-wrapper {
  clear: both;
  padding: 0;
  margin: 0 0 1em;
}
.rooms-booking-form .rooms-booking-availability-button-wrapper {
  clear: both;
}
.rooms-booking-form .rooms-booking-availability-wrapper fieldset {
  background: none;
  float: none;
  clear: both;
  margin-bottom: 0;
}
.rooms-booking-form .rooms-booking-availability-wrapper .fieldset-description {
  padding: 0;
}
.rooms-booking-form .form-item-data-group-size,
.rooms-booking-form .rooms-booking-group-size-children-container {
  float: left;
  margin-right: 20px;
  max-width: 175px;
}
.rooms-booking-form .form-item-data-group-size,
.rooms-booking-form .form-item-data-group-size-children {
  padding: 0;
}
.rooms-booking-form .rooms-booking-options-wrapper .form-wrapper {
  margin: 0;
}
.rooms-booking-form .rooms-booking-options-wrapper .form-type-select {
  float: none;
}
.rooms-booking-form .rooms-booking-options-wrapper .form-type-select label {
  display: inline;
  font-weight: normal;
}
.rooms-booking-form .rooms-booking-availability-wrapper .form-item-unit-type {
  float: none;
  margin-bottom: 15px;
}

/* Children discount form */
.children-discount-form .child-discount {
  clear: both;
  float: none;
}
.children-discount-form .child-discount__age-start,
.children-discount-form .child-discount__age-end {
  width: 2em;
  text-align: right;
}
.children-discount-form .child-discount__amount {
  width: 3em;
  text-align: right;
}
