/* Booking edit form */
.rooms-booking-form .form-actions,
.rooms-booking-form #edit-b-status,
.rooms-booking-form #availability-wrapper fieldset {
  float: none;
  clear: both;
}
.rooms-booking-form #edit-b-status,
.rooms-booking-form #availability-wrapper,
.rooms-booking-form #edit-get-availability,
.rooms-booking-form #edit-order,
.rooms-booking-form #edit-type {
  margin-bottom: 15px;
}
.rooms-booking-form #edit-customer-wrapper {
  float: left;
  max-width: 300px;
  margin-right: 20px;
}
.rooms-booking-form #availability-button {
  clear: both;
}
.rooms-booking-form #availability-wrapper .fieldset-description {
  padding: 0;
}
.rooms-booking-form .start-date,
.rooms-booking-form .end-date {
  float: left;
  margin-right: 20px;
}
.rooms-booking-form .form-item-data-group-size,
.rooms-booking-form #rooms_booking_group_size_children_container {
  float: left;
  margin-right: 20px;
  max-width: 175px;
}
.rooms-booking-form .form-item-data-group-size,
.rooms-booking-form .form-item-data-group-size-children {
  padding: 0;
}
