/* Hide header on single-row month form display */
.rooms-bulk-availability-form .fc-header {
  display: none;
}

/* Filter month form */
.rooms-filter-month-form .form-item-month,
.rooms-filter-month-form .form-item-year,
.rooms-filter-month-form .form-item-type {
  float: left;
  margin-right: 20px;
}
.rooms-filter-month-form .form-item-month label,
.rooms-filter-month-form .form-item-year label,
.rooms-filter-month-form .form-item-type label {
  display: inline;
  margin-right: 4px;
}
.rooms-bulk-availability-form .fc-day-grid-container {
  overflow-y: hidden;
  height:60px;
}
.fc-title {
  color: white;
}

.rooms-bulk-availability-form .fc-content-skeleton .fc-event-container a {
  border-radius: 0px;
}

.rooms-bulk-availability-form .fc-content-skeleton .fc-event-container .event-start {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  bottom: -9px;
  left: 0px;
  border-width: 9px;
}

.rooms-bulk-availability-form .fc-content-skeleton .fc-event-container .event-end {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
  bottom: -9px;
  left: 0px;
  border-width: 9px;
}

.rooms-bulk-availability-form .fc-content-skeleton .fc-event-container .event-end {
  margin-bottom: 23px;
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg);
}
.rooms-month-manager .fc-view-container tbody tr:nth-child(2) .fc-day-grid-event {
  margin-top: -15px;
}

.page-admin-rooms-units{
  font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

/* Ensure that datepicker is visible in the modal popup. */
#ui-datepicker-div {
  z-index: 1005 !important;
}
