.rooms-three-month-calendar {
  margin-bottom: 20px;
  position: relative;
}
.rooms-three-month-calendar .ajax-progress {
  position: absolute;
  top: 0;
  right: 0;
}
.calendar-set,
.calendar-navigation,
.calendar-management-form {
  margin-bottom: 20px;
}
.rooms-three-month-calendar .month1,
.rooms-three-month-calendar .month2,
.rooms-three-month-calendar .month3 {
  float: left; /* LTR */
  width: 33%;
  padding: 0 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.rooms-three-month-calendar .month1 {
  padding-left: 0; /* LTR */
}
.rooms-three-month-calendar .month3 {
  padding-right: 0; /* LTR */
}
@media (max-width: 570px) {
  .rooms-three-month-calendar .month1,
  .rooms-three-month-calendar .month2,
  .rooms-three-month-calendar .month3 {
    width: 100%;
    padding: 0 0 15px;
    box-sizing: border-box;
  }
}

.calendar-back,
.calendar-current,
.calendar-forward {
  float: left; /* LTR */
  width: 33%;
  box-sizing: border-box;
}
.calendar-back {
  text-align: left; /* LTR */
}
.calendar-current {
  text-align: center;
}
.calendar-forward {
  text-align: right; /* LTR */
}
