.month1 {
  margin:20px 10px;
}

.month2 {
  margin:20px 10px;
}

.month3 {
  margin:20px 10px;
}

#date-forward {
  float:right;
  margin:10px 60px 10px 10px;
}

#date-backward {
  float:left;
  margin:10px 20px 10px 10px;
}

.availability-updates {
  border-top:1px solid silver;
  margin-top:10px;
}

#update-availability-calendar-form .form-item-unit-state {
  float:left;
}

#update-availability-calendar-form .form-item {
  padding:0px;
}

#update-availability-calendar-form .start-date,
#update-availability-calendar-form .end-date {
  float:left;
  margin-right:20px;
}

#update-availability-calendar-form .form-actions {
  clear:both;
  padding:10px 0px;
}

.page-admin-rooms-units-bulk-unit-management table.fc-header,
.page-admin-rooms-units-bulk-pricing-management table.fc-header {
  display: none;
}
.page-admin-rooms-units-bulk-unit-management #calendar0 table.fc-header,
.page-admin-rooms-units-bulk-pricing-management #calendar0 table.fc-header {
  display: inline-table;
  border: none;
  margin: 0;
}

.page-admin-rooms-units-bulk-unit-management #calendar0 table.fc-header tr td:last-child,
.page-admin-rooms-units-bulk-pricing-management #calendar0 table.fc-header tr td:last-child {
  border: none;
}

.page-admin-rooms-units-bulk-unit-management .start-date,
.page-admin-rooms-units-bulk-unit-management .end-date,
.page-admin-rooms-units-bulk-pricing-management .start-date,
.page-admin-rooms-units-bulk-pricing-management .end-date {
  float: left;
  margin-right: 20px;
}

.page-admin-rooms-units-bulk-pricing-management fieldset {
  clear: both;
}

.page-admin-rooms-units-bulk-unit-management #rooms-availability-update-status-form {
  clear: both;
}

.page-admin-rooms-units-bulk-unit-management #rooms-availability-update-status-form .form-item-change-event-status {
  float: left;
  padding: 0;
}

.page-admin-rooms-units-bulk-unit-management #rooms-availability-update-status-form .form-actions {
  clear: both;
  padding: 10px 0px;
}

#rooms-availability-filter-month-form .form-item-month,
#rooms-availability-filter-month-form .form-item-year,
#rooms-availability-filter-month-form .form-item-type {
  float: left;
  margin-right: 25px;
}

#rooms-availability-filter-month-form .form-item-month label,
#rooms-availability-filter-month-form .form-item-year label,
#rooms-availability-filter-month-form .form-item-type label {
  display: inline;
  margin-right: 4px;
}

#rooms-availability-filter-month-form .form-actions {
  padding-top: 6px;
}

#edit-day-options .form-type-checkbox {
  float: left;
  margin-right: 20px;
}

div.ctools-modal-content .form-item label {
  float: none;
  width: 100%;
}
