#rooms-booking-availability-search-form .start-date , #rooms-booking-availability-search-form .end-date{
  float:left;
  margin-right:20px;
}


#rooms-booking-availability-search-form .form-item-group-size, #rooms-booking-availability-search-form .form-item-rooms{
  clear:both;
  float:left;
  margin-right:20px;
}

#rooms-booking-availability-search-form .form-item-rooms{
  clear:right;
}