/* Make availability search fields layout look decent out of the box. */

.rooms-availability-search {
  position: relative;
}
.rooms-availability-search .ajax-progress {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  left: 0;
}

.rooms-availability-search .form-item-group-size-children,
.rooms-availability-search .form-item-group-size-adults,
.rooms-availability-search .form-item-unit-type,
.rooms-availability-search .form-item-rooms,
.rooms-availability-search .form-wrapper {
  float: left;
  margin: 0 1em .6em 0;
}

.rooms-availability-search .rooms-date-range .form-text {
  width: 100%;
}

/* Group size field */
.rooms-group-size,
.rooms-group-size tr,
.rooms-group-size th,
.rooms-group-size td {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
}

/* Labels */
.rooms-group-size th,
.rooms-group-size td,
.rooms-availability-search .form-item label {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0.2em;
}
.rooms-group-size tr:last-child td {
  padding-bottom: 0;
}
.rooms-group-size .rooms-group-size__children {
  padding-left: 20px;
}
.rooms-group-size .form-item {
  margin: 0;
}

.rooms-availability-search .form-item-adults,
.rooms-availability-search .form-item-children,
.rooms-availability-search-results .form-item-adults,
.rooms-availability-search-results .form-item-children {
  padding-left: 1.1em;
}

.rooms-availability-search .rooms-search-result__actions {
  padding: 0;
  margin: 1.2em 0 0;
}


/* Current Search Info */
.rooms-current-search__info,
.rooms-management-form .rooms-current-search__info {
  float: left; /* or right */
  margin-bottom: 20px;
}
.rooms-current-search__info .form-item,
.rooms-current-search__actions {
  font-size: 0.9em;
  clear: both;
  margin: 0;
}
.rooms-current-search__info .fieldset-legend {
  position: relative;
  text-transform: none;
}
.rooms-current-search__change-search-button {
  float: left;
  margin-left: 10em;
}
.rooms-current-search__info .form-item label {
  display: block;
  float: left;
  width: 9.5em;
  text-align: right;
  margin-right: .5em;
}
.rooms-current-search__info .form-type-item .info {
  display: block;
  float: left;
  width: 8em;
}

.rooms-search-result__unit-type {
  clear: both;
  margin-bottom: 20px;
}
.rooms-search-result__unit-type-name {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}
.rooms-search-result__booking-form {
  vertical-align: top;
}
.rooms-search-result__booking-form {
  position: relative;
  width: 100%;
}
.rooms-search-result__booking-form .ajax-progress {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  height: 100%;
  left: 0;
}
.rooms-search-result__unit-type-name {
  font-weight: bold;
}
.rooms-search-result__unit-price {
  text-align: right;
}
.rooms-search-result__unit-base-price label,
.rooms-search-result__unit-price label {
  font-weight: bold;
  display: inline;
}
.rooms-search-result__booking-legend,
.rooms-search-result__select-units {
  text-align: left;
  width: 15%;
}
.rooms-search-result__select-units .form-item label {
  display: inline;
}

/* Individual (embedded) unit search results layout */
.rooms-search-result__unit-embedded {
  float: left;
  width: 100%;
}
.rooms-search-result__unit-embedded .rooms-search-result__select-guests,
.rooms-search-result__unit-embedded .rooms-search-result__select-children,
.rooms-search-result__unit-embedded .rooms-search-result__select-childrenage {
  float: left;
  margin-right: 20px;
}
.rooms-search-result__unit-embedded .rooms-search-result__new-price,
.rooms-search-result__unit-embedded .rooms-search-result__actions {
  float: right;
  clear: right;
}
.rooms-search-result__new-price {
  font-weight: bold;
}
.rooms-search-result__unit_options .no-unit-fieldset {
  border: 0px;
}
.rooms-search-result__unit_options .no-unit-fieldset .fieldset-legend {
  display: none;
}
.rooms-search-result__unit_options .no-unit-fieldset legend{
  background:none;
  border:none;
}
