.rooms-availability-search {
  position: relative;
}

.rooms-availability-search .form-item label {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0.2em;
}

.rooms-availability-search .container-inline-date .description {
  display: none;
}

.rooms-availability-search .container-inline-date .form-text {
  width: 10em;
}

.rooms-availability-search .container-inline-date .form-item {
  margin-right: 0;
}

.rooms-availability-search .container-inline-date > .form-item {
  margin-right: 0;
  display: block;
}

.rooms-availability-search .container-inline-date .form-item .form-item {
  float: none;
}

.rooms-availability-search .container-inline-date .form-item input {
  margin-right: 0;
  width: 10em;
}

.rooms-availability-search .container-inline-date .form-type-textfield label {
  display: none;
}

.rooms-availability-search .container-inline-date .date-padding,
.rooms-availability-search .container-inline-date .container-inline-date .date-padding {
  padding: 0;
  float: none;
}
