/* Bookable unit edit form */
.rooms-unit-edit-form .form-wrapper {
  max-width: 400px;
  margin: 0 20px 0.4em 0;
}
.rooms-unit-edit-form .form-item {
  margin-bottom: 1em;
}
.rooms-unit-edit-form .form-item label,
.rooms-unit-edit-form .form-wrapper legend {
  margin-bottom: 0.2em;
}
.rooms-unit-edit-form .form-item label,
.rooms-unit-edit-form .form-wrapper .fieldset-legend {
  font-size: 1em;
  font-weight: bold;
}
.rooms-unit-edit-form .form-checkbox + label {
  font-weight: normal;
}
.rooms-unit-edit-form .form-checkbox:checked + label {
  font-weight: bold;
}
.rooms-unit-edit-form .field-widget-rooms-options-combined {
  max-width: inherit;
  margin-right: 0;
  clear: both;
}

.rooms-unit-edit-form .field-widget-rooms-availability-constraints-range {
  max-width: inherit;
  margin-right: 0;
  clear: both;
}

.rooms-unit-edit-form .form-item-name,
.rooms-unit-edit-form .form-item-base-price,
.rooms-unit-edit-form .rooms-unit-guest-capacity,
.rooms-unit-edit-form .rooms-unit-child-capacity,
.rooms-unit-edit-form .rooms-unit-bed-arrangement {
  float: left;
  width: 15em;
  margin-right: 20px;
}

.rooms-unit-edit-form .rooms-unit-guest-capacity {
  clear: left;
}

.rooms-unit-edit-form .rooms-unit-guest-capacity .form-text,
.rooms-unit-edit-form .rooms-unit-child-capacity .form-text,
.rooms-unit-edit-form .rooms-unit-data-bed-arrangement .form-text {
  width: 2em;
  text-align: right;
}

.rooms-unit-edit-form .form-item-base-price .form-text {
  width: 6em;
  text-align: right;
}

.rooms-unit-edit-form .form-actions {
  clear: both;
  float: none;
}
