.month1{
  margin:20px 10px;
}

.month2{
  margin:20px 10px;
}

.month3{
  margin:20px 10px;
}

#date-forward {
  float:right;margin:10px 60px 10px 10px;
}

#date-backward {
  float:left;margin:10px 20px 10px 10px;
}
